body {
  overflow-y: scroll;
}

.hint {
  width: 28rem;
  border: 1px solid #e9ecef;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.hint .row--header {
  order: 0;
  font-weight: bold;
  border-bottom: 2px solid #e9ecef;
}

.col--member {
  flex: 4;
}
.col--solved {
  flex: 4;
}
.col--score {
  flex: 3;
}
