body {
  overflow-y: scroll;
}

.hint {
  width: 32rem;
  border: 1px solid #e9ecef;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.hint .row--header {
  order: 0;
  font-weight: bold;
  border-bottom: 2px solid #e9ecef;
}

.col--member {
  flex: 8;
}
.col--solved {
  flex: 6;
}
.col--score {
  flex: 6;
}

button[type=submit] .badge {
  margin-left: 8px;
}
